/* Feel free to remove these styles or customise in your own stylesheet 👍
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }  */

html {
    font-size: 62,5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

main {
    background-color: blueviolet;
}

.container {
    width: 1440px;
    height: 800px;
    background-color: aqua;
    background: url('./images/bg-desktop.svg') center center no-repeat;
}